# Binaries (mac, linux)
accumulate
!*/

# Binaries and test data
*.exe
*.test
.testdata

# Temp and log files
*~
*.kate-swp
*.orig
*.bak
*.txt
*.log
*.swp
*.out

# macOS
.DS_Store

# Tooling
.idea
.nodes*
.factom*
.vagrant
.terraform
.terraform.lock.hcl
/.vscode/settings.json

#jj
.newscripts
