# Render playbooks as markdown
*.play gitlab-language=markdown

# Collapse go.sum in merge requests
go.sum gitlab-generated

# LFS files
*.dat filter=lfs diff=lfs merge=lfs -text
test/testdata/executor-v1-consistency.json filter=lfs merge=lfs -text
test/testdata/api-v2-consistency.json filter=lfs merge=lfs -text
