# Binaries (mac, linux)
accumulated
accumulate
!*/

# Binaries
*.exe
*.test

# Temp and log files
*~
*.kate-swp
*.orig
*.bak
*.txt
*.log
*.swp
*.out

# macOS
.DS_Store

# Tooling
.idea
.nodes
.vagrant
.terraform
.terraform.lock.hcl
/.vscode/settings.json