[Core]
* @firelizzard @bunfield @PaulSnow

[CLI]
cmd/accumulate/ @bunfield

[Documentation]
*.md @firelizzard @bunfield @PaulSnow
docs @firelizzard @bunfield @PaulSnow

[SMT]
smt/ @PaulSnow

[CI]
.gitlab-ci.yml @firelizzard