package {{.Package}};

public enum {{.Name}} {
    {{- range $i, $v := .Values}}{{if gt $i 0}},{{end}}
    {{underscoreUpperCase $v.Name}}({{$v.Value}}, "{{lowerCamel $v.Name}}")
    {{- end}};

    private final int value;
    private final String name;

    {{.Name}}(int value, String name) {
        this.value = value;
        this.name = name;
    }

    public int getValue() { return this.value; }
    public String getName() { return this.name; }
    public String toString() { return this.name; }

    public static {{.Name}} byValue(int value) {
        for (final var type : values()) {
            if (value == type.ordinal()) {
                return type;
            }
        }
        throw new RuntimeException(String.format("%d is not a valid TransactionType", value));
    }

    public static {{.Name}} byName(String name) {
        for (final var type : values()) {
            if (name != null && name.equalsIgnoreCase(type.name)) {
                return type;
            }
        }
        throw new RuntimeException(String.format("'%s' is not a valid TransactionType", name));
    }
}